<% layout('/layouts/boilerplate') -%>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3 class="mb-4">Edit Rental details</h3>
        <form method="post" action="/listings/<%= editListing._id  %>?_method=PUT">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" value="<%= editListing.title %>" type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control"><%= editListing.description %></textarea>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input name="listing[image]" value="<%= editListing.image %>" type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%= editListing.price %>" type="number" class="form-control">
            </div>
    
            <div class="row">
                <div class="mb-3 col-md-7">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= editListing.location %>" type="text" class="form-control">
                </div>
                <div class="mb-3 col-md-5">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" value="<%= editListing.country %>" type="text" class="form-control">
                </div>
            </div>

            <button class="btn btn-dark all-btns">Ok</button>
        </form>
    </div>
</div>
