<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderStay</title>
</head>
<body>
    <h3>Edit Staycation</h3>
    <form method="post" action="/listings/<%= editListing._id  %>?_method=PUT">
        <input name="listing[title]" value="<%= editListing.title %>" type="text">
        <br/><br/>
        <textarea name="listing[description]"><%= editListing.description %></textarea>
        <br/><br/>
        <input name="listing[image]" value="<%= editListing.image %>" type="text">
        <br/><br/>
        <input name="listing[price]" value="<%= editListing.price %>" type="number">
        <br/><br/>
        <input name="listing[location]" value="<%= editListing.location %>" type="text">
        <br/><br/>
        <input name="listing[country]" value="<%= editListing.country %>" type="text">
        <br/><br/>
        <button>Ok</button>
    </form>
</body>
</html>