<% layout('/layouts/boilerplate') -%>
    <h3>Stay Details</h3>
    <ul>
        <li><%= specificListing.title %></li>
        <li><%= specificListing.description %></li>
        <li>&#8377; <%= specificListing.price.toLocaleString("en-IN") %></li>
        <li><%= specificListing.location %></li>
        <li><%= specificListing.country %></li>
    </ul>
    <br/>
    <a href="/listings/<%= specificListing._id %>/edit">Edit details</a>
    <br/><br/>
    <form method="post" action="/listings/<%= specificListing._id %>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>